.staff-headshot {
  width: 45%;
  max-height: 80%;
  @media screen and (min-width: 850px) {
    float: left;
    width: 20%;
  }
}

.staff-bio {
  width: 100%;
  text-align: center;
}

.staff-bio-content {
  width: 90%;

  @media screen and (min-width: 850px) {
    margin-right: 15%;
    float: right;
    width: 60%;
    text-align: justify;
  }
}

.clearfix {
  clear: both;
}

h3 {
  margin-top: 0;
}
