.staff-headshot {
float: left;
width: 30%;
}

.staff-bio{
width: 100%;
}

.staff-bio-content {
    float: right;
    margin-right: 7%;
    width: 60%;
}

.clearfix{	
    clear:both	
}

h3 {
    margin-top: 0;
}