a {
  font-size: 38px;
  padding: 0 10px;
}

.background-container {
  background-color: rgb(255, 249, 230);
  height: 100px;
  width: 100%;
  text-align: right;
}

.links {
  top: 50%;
  padding-top: 50px;
  padding-right: 20px;
}
