$header-height-small: 60px;
$header-height: 100px;

.home-route {
  padding: 0;
  margin: 0;
}

a {
  font-size: 28px;
  padding: 0 10px;
}

fa-icon {
  float: none;
  padding-top: 35px;

  @media screen and (min-width: 360px) {
    float: right;
    padding-right: 20px;
  }

  @media screen and (min-width: 1050px) {
    display: none;
  }
}

.background-container {
  background-color: rgb(255, 249, 230);
  height: $header-height-small;
  position: sticky;
  text-align: right;
  top: 0px;

  @media screen and (min-width: 360px) {
    height: $header-height;
  }
}

.hamburger-links {
  font-family: "Mali", cursive;
  a {
    color: #ccc;
  }
}

.hamburger-title {
  margin-left: 10px;
}

.links {
  display: none;
  float: right;

  @media screen and (min-width: 1050px) {
    display: block;
    top: 50%;
    padding-top: 50px;
    padding-right: 20px;
  }
}

.logo {
  max-height: $header-height-small;
  float: left;

  @media screen and (min-width: 360px) {
    max-height: $header-height;
  }
}

.menu-hamburger {
  margin: auto 10px;

  @media screen and (min-width: 1050px) {
    display: none;
  }
}

.menu-hamburger-expanded {
  top: 0;
  color: #fff;
  margin: 0;
  height: 100%;
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  background-color: #363636;
}

.content-overlay {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  // background-color: rgba(255, 192, 203, 0.7);
  cursor: pointer;
}
