a {
  font-size: 38px;
  padding: 0 10px;
}

fa-icon {
  float: right;
  padding-right: 20px;
  padding-top: 35px;
  height: 150%;
    @media screen and (min-width: 992px) {
      display: none;
    }
}

.background-container {
  background-color: rgb(255, 249, 230);
  height: 100px;
}

.links {
  display: none;
  text-align: right;

  @media screen and (min-width: 992px) {
    display: block;
    top: 50%;
    padding-top: 50px;
    padding-right: 20px;
  }
}
