<div class='main-container'>
    <div class='content-container'>
      <div class='text-container'>
        <h1>Tours: Visit Our Academy</h1>
        <p>While we love our website, we strongly believe that the best way for a parent to know whether a school is really 
          “the best school” for your child is to see it in operation, where you can witness our school's spirit, interactions 
          among the children, and the guidance we teachers provide your little ones.
        </p>
        <p>
            We invite you to visit and experience our community first-hand. <a href="">Contact us</a> today and let us know what we can do for you and your child!
        </p>
        <h1>Directions</h1>
        <div class="map-container">
        <div class="map">
            <iframe [src]="safeSrc" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <br><br>
        </div>
        <p class="directions">
          Located a couple blocks from Highway 99, we are across the street from Meadowdale High School on 168th St SW.
          Feel free to use our parking lot and there is free street parking available as well.
        </p>
      </div>
        <div class="clearfix"></div>
        
  <br><br><br><br>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  