.clearfix{
    clear:both
}

.map {
    height: 100%;
    width: 100%;
    margin-right:2%;
    float: left;

    iframe {
        width:100%;
    }

    @media screen and (min-width: 850px) {
        width: 50%;
        float: left;
    }

    @media screen and (min-width: 850px) {
        width: 40%;
    }
}

.map-container {
    display: inline-block; 
    margin: 0 auto;
}

.directions {
    width: 100%;
    
    @media screen and (min-width: 850px) {
        float: left;
        width: 55%;
    }
}