<div class='main-container'>
    <div class='content-container'>
      <div class='text-container'>
        <h1>Programs</h1>
        <p>We offer a wide array of programs from morning and afternoon daycare to Montessori teacher training.</p>
        <div class="icon-border">
            <span *ngFor="let number of numbers">
                <fa-icon class="icon-blue border-icon" [icon]="faSquare"></fa-icon>
                <fa-icon class="icon-yellow border-icon" [icon]="faSquare"></fa-icon>
                <fa-icon class="icon-red border-icon" [icon]="faSquare"></fa-icon>
              </span>
        </div>
          <h1>Daycare: Ages 2.5-6 yrs</h1>
          <p>Our daycare programs consist of morning and afternoon care, with options to extend the length of hours.</p>
          <span>A Typical Weekly Schedule</span>
          <ul>
              <li>
                  <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
                  <span>Morning Class: </span>
                  8:30 – 11:30 a.m., children participate in regular Montessori curriculum.
              </li>
              <li>
                  <fa-icon class="icon-yellow icon-bullet" [icon]="faCircle"></fa-icon>
                  <span>Afternoon Class: </span>
                  12:30 – 3:30 p.m, children participate in regular Montessori curriculum.
              </li>
            </ul>
            <br>
          <span>Extended Care Options</span>
          <ul>
              <li>
                  <fa-icon class="icon-red icon-bullet" [icon]="faCircle"></fa-icon>
                  <span>Early Morning: </span>
                  8:30 – 11:30 a.m., children participate in regular Montessori curriculum.
              </li>
              <li>
                  <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
                  <span>Late Afternoon: </span>
                  3:30pm – 5:30pm, children play games, make music and art to close out their day.
              </li>
            </ul>
            <br>
            <span>Specialized Tutoring (for 5 years and up)</span>
            <ul>
                <li>
                    <fa-icon class="icon-red icon-bullet" [icon]="faCircle"></fa-icon>
                    <span>Bilingual Classes: </span>
                    3:30 - 4:30 pm, Group or individual lessons for each subject: English, Korean.
                </li>
                <li>
                    <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
                    <span>Tutoring: </span>
                    3:30pm – 4:30pm, Individual tutoring for math, language, homework and special education.
                </li>
              </ul>
            <p>Our mission is to provide students with a meaningful extension of their school day in a safe and familiar environment.</p>

        <div class="icon-border">
            <span *ngFor="let number of numbers">
              <fa-icon class="icon-blue border-icon" [icon]="faSquare"></fa-icon>
              <fa-icon class="icon-yellow border-icon" [icon]="faSquare"></fa-icon>
              <fa-icon class="icon-red border-icon" [icon]="faSquare"></fa-icon>
            </span>
          </div>

            <h1>Teaching Training Program</h1>
            <p>We regularly hold Montessori teacher training programs. If you're interested, please email us!</p>
            <span>The Lynnwood Montessori Teacher Training Program goals are to:</span>
            <ul>
                <li>
                    <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
                    Prepare teachers to conduct early childhood education for ages 2.5 through 6 years with a deep grounding in Montessori's philosophy.
                </li>
                <li>
                    <fa-icon class="icon-yellow icon-bullet" [icon]="faCircle"></fa-icon>
                    Develop teachers with Montessori training in the contemporary context of child development and educational thought.
                </li>
                <li>
                    <fa-icon class="icon-red icon-bullet" [icon]="faCircle"></fa-icon>
                    Create teachers as “scientific pedagogues” understand the dynamic system that allows 
                    the child to pursuit of their intellectual and moral needs.
                  </li>
              </ul>
          </div>

    </div>
  <app-footer></app-footer>