<div class='main-container'>
    <div class='content-container'>
      <div class='text-container'>
        <h1>Programs</h1>
        <p>We offer a wide array of programs from morning and afternoon classes to Montessori teacher training. 
          Read more about our curriculum <a [routerLink]="['/curriculum']">here.</a></p>
        <div class="icon-border">
            <span *ngFor="let number of numbers">
                <fa-icon class="icon-blue border-icon" [icon]="faSquare"></fa-icon>
                <fa-icon class="icon-yellow border-icon" [icon]="faSquare"></fa-icon>
                <fa-icon class="icon-red border-icon" [icon]="faSquare"></fa-icon>
              </span>
        </div>
          <h1>Classes: Ages 2.5-6 yrs</h1>
          <p>Our mission is to provide students with a meaningful extension of their school day in a safe and familiar environment.
            Our programs consist of morning and afternoon classes, with options to extend the length of hours.</p>
          
          <span>A Typical Weekly Schedule</span>
          <ul>
              <li>
                  <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
                  <span>Morning Class: 
                  8:30 – 11:30 a.m., children participate in regular Montessori curriculum.
                </span>
              </li>
              <li>
                  <fa-icon class="icon-yellow icon-bullet" [icon]="faCircle"></fa-icon>
                  <span>Afternoon Class: 
                  12:30 – 3:30 p.m, children participate in regular Montessori curriculum.
                </span>
              </li>
            </ul>
            <br>
          <span>Extended Classwork Options</span>
          <ul>
              <li>
                  <fa-icon class="icon-red icon-bullet" [icon]="faCircle"></fa-icon>
                  <span>
                    Early Morning: 8:30 – 11:30 a.m., children participate in regular Montessori curriculum.
                  </span>
              </li>
              <li>
                  <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
                  <span>
                    Late Afternoon: 3:30pm – 5:30pm, children play games, make music and art to close out their day.
                  </span>
              </li>
            </ul>
            <br>
            <span>Specialized Tutoring (for 5 years and up)</span>
            <ul>
                <li>
                    <fa-icon class="icon-red icon-bullet" [icon]="faCircle"></fa-icon>
                    <span>
                      Bilingual Classes: 3:30 - 4:30 pm, Group or individual lessons for each subject: English, Korean.
                    </span>
                </li>
                <li>
                    <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
                    <span>Tutoring: 3:30pm – 4:30pm, Individual tutoring for math, language, homework and special education.
                    </span>
                </li>
              </ul>

        <div class="icon-border">
            <span *ngFor="let number of numbers">
              <fa-icon class="icon-blue border-icon" [icon]="faSquare"></fa-icon>
              <fa-icon class="icon-yellow border-icon" [icon]="faSquare"></fa-icon>
              <fa-icon class="icon-red border-icon" [icon]="faSquare"></fa-icon>
            </span>
          </div>

            <h1>Lynnwood Montessori Teaching Training Program</h1>
            <p>We regularly hold Montessori teacher training programs. If you're interested, please email us!</p>
            <span>The Lynnwood Montessori Teacher Training Program goals are to:</span>
            <ul>
                <li>
                    <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
                    <span>
                        Prepare teachers to conduct early childhood education for ages 2.5 through 6 years with a deep grounding in Montessori's philosophy.
                    </span>
                </li>
                <li>
                    <fa-icon class="icon-yellow icon-bullet" [icon]="faCircle"></fa-icon>
                    <span>
                        Develop teachers with Montessori training in the contemporary context of child development and educational thought.
                    </span>
                </li>
                <li>
                    <fa-icon class="icon-red icon-bullet" [icon]="faCircle"></fa-icon>
                    <span>
                        Create teachers as “scientific pedagogues” understand the dynamic system that allows 
                        the child to pursuit of their intellectual and moral needs.
                    </span>
                  </li>
              </ul>
              <p>
                The Lynnwood Montessori Teacher Training program is an extension of Dr. Jun's Institute of Montessori Education 
                in South Korea, which has been accredited by Montessori Accreditation Council of Teacher Education (MACTE) and 
                Affiliated by American Montessori Society (AMS) since 2000.
              </p>
          </div>
    </div>
  <app-footer></app-footer>