<div class='main-container'>
  <div class='image-container'>
    <img src="assets/welcome.PNG">
  </div>

  <div class='content-container'>
    <div class='text-container'>
      <h1>Our Academy</h1>
      <p>The Lynnwood Montessori Academy provides offers a complete range of educational services
        for children (ages 2.5-6 years old), including care before and after school, and special summer programs. 
        We pride ourselves in providing an enriching, multi-faceted environment where children thrive.
      </p>

      <p>
      Children love to learn by experiencing the world using all of their senses.
      We provide a hands-on classroom environment stocked with learning materials for important area
      from practical life skills and sensory management, to mathematics and STEM, to art, music and language.
      Even the youngest children love learning about their world! Visit our <a href="http://www.google.com">programs page</a>
      to learn more.
      </p>
      <div class="icon-border">
          <span *ngFor="let number of numbers">
            <fa-icon class="icon-blue border-icon" [icon]="faSquare"></fa-icon>
            <fa-icon class="icon-yellow border-icon" [icon]="faSquare"></fa-icon>
            <fa-icon class="icon-red border-icon" [icon]="faSquare"></fa-icon>
          </span>
        </div>
      <h1>Our Philosophy</h1>
      <span>Our Montessori philosophy is rooted in the following.</span>
      <ul>
        <li>
            <fa-icon class="icon-blue icon-bullet" [icon]="faCircle"></fa-icon>
            <span class="strong-text">Freedom of movement:</span>
            <span>
              To encourage a broad understanding of the world, we encourage the children to move about freely,
                choosing their “work” with responsibility and freedom.
                We nurture their independence and watch their self confidence grow as they learn through thoughtfully planned projects that allow them to learn as individuals,
                at their own pace and to reach toward their full potential.
            </span>
        </li>
        <li>
            <fa-icon class="icon-yellow icon-bullet" [icon]="faCircle"></fa-icon>
            <span class="strong-text">Guidance for Learning:</span>
            <span>
                Our school is based upon the fundamental need of each child 
                to have freedom of within limits. We structure our care so that children are given ample opportunity to 
                explore their world with their hands in a safe environment so they may learn.
            </span>
        </li>
        <li>
            <fa-icon class="icon-red icon-bullet" [icon]="faCircle"></fa-icon>
            <span class="strong-text">Socialization:</span>
            <span>
                As children learn, we encourage them to use their
                growing vocabulary and express themselves as a individuals. We love chatting with the children in our care, talking about
                their interests, life values and loved ones.
            </span>
            </li>
      </ul>
<br><br><br><br>
    </div>
  </div>
</div>
<app-footer></app-footer>
