<div class='main-container'>
    <div class='content-container'>
        <div class='text-container'>
            <h1>The Montessori Curriculum</h1>
            <p>
                The Montessori educational system, developed by Maria Montessori, is a child-centered approach
                based on scientific observations of children. Montessori's method has been used for over 100 years in
                many
                parts of the world. The Montessori method views the child as the one who is naturally eager for
                knowledge
                and capable of initiating learning in a supportive, thoughtfully-repared learning environment.
            </p>
            <h2>Learning Outcomes</h2>
            <p>
                Children at the Lynnwood Montessori Bilingual Academy are encouraged to nurture and grow their enthusiasm
                for learning.
                Our teaching staff cultivates the children's love for work, empathy for others, concentration abilites,
                a drive for excellence, organizational skills, and a joy of learning.
                We are inspired when we see our 4 and 5 year olds casually reading to each other, confident in their own
                ability to grow
                their reading skills.
            </p>

            <div class="icon-border">
                <span *ngFor="let number of numbers">
                    <fa-icon class="icon-blue border-icon" [icon]="faSquare"></fa-icon>
                    <fa-icon class="icon-yellow border-icon" [icon]="faSquare"></fa-icon>
                    <fa-icon class="icon-red border-icon" [icon]="faSquare"></fa-icon>
                </span>
            </div>
            <h1>Core Curriculum Areas</h1>
            <p>
                Every day at our school, we provide children with opportunities to grow their confidence, skills and
                decision-making abilities across
                several important areas.
                At every age level, students learn in different ways at different rates and so they learn much more
                effectively from direct,
                hands-on experiences. All lessons are presented individually, through hands-on activities in a sequence
                from
                the concrete to the abstract.
            </p>
            <h2>Practical Life Areas</h2>
            <p>
                Children are offered real life experiences where they learn how to care for themselves and the
                environment around them.
                The children come away from these tasks with an understanding of how to accomplish these tasks and the
                confidence to continue to do so.
                Activities can include having children pour their own beverages, water the plants in the classroom, and
                keeping our shared space organized.
                Children also learn the healthy manners of taking turns, waiting to do the "work" they desire, taking
                constructive feedback in a
                positive way, and being thoughtful of another child's feelings and needs.
            </p>
            <h2>Sensorial Activities</h2>
            <p>
                In this area of learning, we use the children's senses to help them become more logical, aware and
                perceptive.
                Sensorial activies can include working with visual shapes, using different instruments to work with
                sound, a tasting tray to
                experience different tastes, bottles for smelling, and mystery bags for tactile exercises.
            </p>
            <h2>Mathematics curriculum</h2>
            <p>
                We provide a series of activities to develop your child's mathematical mind.
                Learning begins with the child’s use of concrete materials to lay a solid sound foundation in mathematic
                and geometry.
                Using Montessori materials the students are introduced to the basic math concepts of associating
                quantities to numerals.
            </p>
            <h2>Language Arts and Written Communication</h2>
            <p>
                These activities are organized in a sequential manner to follow the natural development of language for
                the child.
                Throughout the day, we read books together with the children, share stories, and sing songs.
                The children also learn to listen to others speak during circle time.
            </p>
            <p>
                We intentionally phonetically teach the sounds of the alphabet in a natural way for the children, so
                that they can start forming letters and words and begin to sound out short words.
                Vocabulary development is emphasized in all areas by using specific words for objects in the classroom.
            </p>
            <p>
                At approximate 4 1/2 years, the children begin to put phonetic sounds together to read short words, and
                by 5 years old, the children can express their love for reading and writing.
            </p>
            <h2>Music Curriculum</h2>
            <p>
                We teach the fundamentals of music through vocal, instrumental, movement, and listening skills.
                The curriculum consists of singing, playing instruments, listening to music,
                music theory, creative movement, music history, and multi-cultural music experiences with
                Montessori Bells.
            </p>
            <h2>Movement and Yoga</h2>
            <p>
                The Montessori movement program is fun and effective exercise designed for children.
                It develops and refines individual agility, balance and coordination skills as well as focusing on motor
                skills
                and spatial awareness.
                Throughout the class, all the children are participating in fun movements.
                A veriety of equipment is used throughout the sessions including hoops, beanbags, juggling scarves, and
                rhythym sticks,
                allowing each child to practice their concentration, balancing and listening skills.
                Overall the class aims to encourage all children to enjoy and replicate fun non-competitive games
                and help them discover the joys of a healthy, active lifestyle.
            </p>
        </div>
    </div>
    <app-footer></app-footer>