.half-shot {
    text-align: center;
    margin: 0 5px 0 0;
    padding: 0;
    width: 85%;
    
    @media screen and (min-width: 850px) {	
        width: 45%;	
    }	
}

.middle-shot {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

.photo-grid {
    text-align: center;
}