<div class='main-container'>
    <div class='content-container'>
      <div class='text-container'>
        <h1>Admissions</h1>
        <p>
          Our admissions process for children ages 2.5-6 years begins with a tour of our facilities where you can meet our dedicated teaching staff and see the Montessori method in action.
        </p>
        <p>While we love our website, we strongly believe that the best way for a parent to know whether a school is really 
          “the best school” for your child is to see it in operation, where you can witness our school's spirit, interactions 
          among the children, and the guidance we teachers provide your little ones.
        </p>
        <p>
            We invite you to visit and experience our community first-hand.
            We encourage interested parents to schedule a visit by giving us a call or sending us an 
            <a href="mailto: &#104;&#101;&#108;&#108;&#111;&#064;&#108;&#121;&#110;&#110;&#119;&#111;&#111;&#100;&#109;&#111;&#110;&#116;&#101;&#115;&#115;&#111;&#114;&#105;&#046;&#099;&#111;&#109;">
              email</a>.
        </p>
        
        <div class="map-container">
        <div class="map">
            <iframe [src]="safeSrc" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <br><br>
        </div>
        <div class="directions">
          <h2>Directions</h2>
          <p>
            Located a couple blocks from Highway 99, we are across the street from Meadowdale High School on 168th St SW.
            Feel free to use our parking lot and there is free street parking available as well.
          </p>
        </div> 
      </div>
        <div class="clearfix"></div>
        
  <br><br><br><br>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  