@import '~normalize.css';
@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  //font-family: Helvetica;
}

html, body {
  font-family: 'Libre Franklin', serif;
  // height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: normal;

  @media screen and (min-width: 450px) {
    font-size: 38px;
    padding-top: 15px;
  }
}

li {
  list-style-type: none;
}

p {
  font-weight: normal;
  font-size: 18px;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 z-index: -1;
}
