@import '~normalize.css';

* {
  //font-family: Helvetica;
}

html, body {
  font-family: 'Libre Franklin';
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: black;
  text-decoration: none;
}
